[submodule "lib/hidapi"]
	path = drv/drv_USB/hidapi
	url = https://github.com/libusb/hidapi.git
[submodule "drv/drv_USB/hidapi"]
	path = drv/drv_USB/hidapi
	url = https://github.com/libusb/hidapi.git
